.jumbotron{
    padding-top: 2rem;
    background-color: #e2edff;
}

.mycards{
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
}

.footer{
    padding-top: 2rem;
    background-color: #0d6efd;
}